<!DOCTYPE html>
<html ng-app="TrafficWiseApp">
<head>
    <meta charset="utf-8">
    <title>Basta Trafico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
</head>
<body>
<div ng-controller="HomeController">
    <div class="container-fluid">
        <img src='/logo' class="img-responsive"/>

        <div class="panel panel-default"><div class="panel-body">
            <div ng-if="status=='none'">
                <h3>Hola!</h3>
                <p>
                    Esta cansado de estar en cola? JUNTOS podemos ser mas listos que el tráfico! Con los datos generados por esta app, podemos saber mas del tráfico. Por ejemplo, sabremos...
                    <ul>
                        <li>Cuando ya se va a mover la cola</li>
                        <li>A que hora es mejor llegar a la cola</li>
                        <li>Otros noticias sobre la cola</li>
                    </ul>
                </p>
                </p>
                <p><button class='btn btn-lg btn-block btn-success' ng-click="start()">Empezar</button></p>
            </div>
            <div ng-if="status=='agreed'">
                <h3>Las Reglas</h3>
                <p>
                    Esta app existe para ayudarnos a todos nosotros. Con los datos recaudados, podemos calcular y predecir las movimientos de trafico. Por ese fin, pedimos que todos:
                    <ol>
                        <li>Marca cuando haya llegado a la cola</li>
                        <li>Marca cuando la cola ya se mueva.</li>
                    </ol>
                </p>
                </p>
                <p><button class='btn btn-lg btn-block btn-info' ng-click="agreed()">Estoy De Acuerdo</button></p>
            </div>
            <div ng-if="status=='started'">
                <h3>Habilitar Ubicación</h3>
                <p>Necesitamos tu ubicación actual para poder calcular la espera junto con los datos de los demas conductores. Favor, oprima el botón de abajo para habilitar la ubicación.</p>
                <p><button class='btn btn-lg btn-block btn-primary' ng-click="enableLocation()">Habilitar Ubicación</button></p>
            </div>
            <div ng-if="status=='gpsApproved'">
                <h3>Identificarse</h3>
                <div class="alert alert-info">Prometemos no utilizar tu correo para algo aparte de esta application. Su privacidad es segura aquí.</div>
                <form ng-submit="identifyUser()">
                    <div class="form-group">
                        <label for="emailInput">Tu Correo:</label>
                        <input id="emailInput" class="form-control input-lg" required ng-model="form.email" type="email" placeholder="ex: alguien@yahoo.com" />

                    </div>
                    <p><input class='btn btn-block btn-lg btn-info' type="submit"/ value="Identificarse"></p>
                </form>
                <button class='btn btn-block' ng-click="resetStatus()">Empezar de Cero</button>
            </div>
            <div ng-if="status=='userIdentified'">
                <h3>Diganos Cuando Haya Llegado a la Cola</h3>
                <div ng-show="gettingLocation" style="text-align: center">
                    <p>Obteniendo Ubicacion...<br>
                    <img src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif?zoom=2"/></p>
                </div>
                <div ng-hide="gettingLocation">
                    <div class='alert alert-error' ng-hide="loadingNextMovements || nextMovements.length > 0">
                        No habian suficientes datos para calcular las horas de movimiento.
                    </div>
                </div>
                <div ng-show="peopleWaiting.length>1" class="alert alert-success">
                    Actualmente hay {{peopleWaiting.length}} usuarios esperando contigo.
                </div>
                <div ng-show="nextMovements.length > 0" class='alert alert-info'>Creemos que la cola va a moverse en las siguientes horas:
                    <ul ng-repeat="next in nextMovements">
                        <li>{{next.time}}</li>
                    </ul>
                </div>
                <div ng-show="loadingNextMovements" style="text-align: center">
                    <p>Calculando...<br>
                    <img src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif?zoom=2"/>
                    </p>
                </div>
                <button class='btn btn-block btn-lg btn-danger' ng-click="arrivedAtTraffic()">Estoy Parado en la Cola</button>
                <button class='btn btn-block' ng-click="resetStatus()">Empezar de Cero</button>

            </div>
            <div ng-if="status=='waiting'">
                <h3>Diganos Cuando Se Mueva la Cola</h3>
                <div ng-show="gettingLocation" style="text-align: center">
                    <p>Obteniendo Ubicacion...<br>
                    <img src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif?zoom=2"/></p>
                </div>
                <div ng-hide="gettingLocation">
                    <div class='alert alert-error' ng-hide="loadingNextMovements || nextMovements.length > 0">
                        No habian suficientes datos para calcular las horas de movimiento.
                    </div>
                </div>
                <div ng-show="peopleWaiting.length > 1" class="alert alert-success">
                    Actualmente hay {{peopleWaiting.length}} usuarios esperando contigo.
                </div>
                <div ng-show="nextMovements.length > 0" class='alert alert-info' style="text-align: center">
                    <p>Proximo Movimiento:</p>
                    <h1>{{ nextMovements[0].time }}</h1>
                    <p>(aproximado)</p>
                </div>
                <div ng-show="loadingNextMovements" style="text-align: center">
                    <p>Calculando...<br>
                    <img src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif?zoom=2"/>
                    </p>
                </div>
                <button class='btn btn-block btn-lg btn-success' ng-click="trafficMoving()">La Cola ya Se Esta Moviendo</button>
                <button class='btn btn-block' ng-click="resetStatus()">Empezar de Cero</button>
            </div>
            <div ng-if="status=='moving'">
                <h3>Nos Vemos</h3>
                <div class="alert alert-success"><strong>Gracias!</strong> Estamos trabajando para mejorar esta app. Por favor, siga usando la app y esperando nuevas funcionalidades.</div>
                <button class='btn btn-block' ng-click="resetStatus()">Empezar de Cero</button>
            </div>
        </div>
        <div class="panel panel-footer">
            <div class="panel-body">
                <h3>Mas Info</h3>
                <p>Esta app esta construida por <strong>residentes de Santa Ana, F.M.</strong> por el simple fin de poder llegar a Tegucigalpa y de regreso con mas facilidad mientras el relajo del tráfico que ocupe nuesta carreterra.</p>
            </div>
        </div></div>
    </div>
</div>

<script>
    var app = angular.module('TrafficWiseApp', ['ngCookies']);
    app.controller('HomeController', function($scope, $http, $cookies, $location) {

        if($location.host() == "localhost"){
            navigator = {
                geolocation : {
                    getCurrentPosition : function(done){
                        setTimeout(function(){
                            $scope.gettingLocation = false;
                            done({ coords: {
                                latitude: 13.94574807291711,
                                longitude: -87.21308999243965
                            }})
                        }, 2000);
                    }
                }
            };
        }

        $scope.gettingLocation = false;
        function getLocation(done){
            $scope.gettingLocation = true;
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function(position) {
                        $scope.gettingLocation = false;
                        done(position);
                    },
                    function(error) {
                        console.log(error);
                        $scope.gettingLocation = false;
                        alert("Error al pedir ubicacion: " + error.message);
                    },
                    {timeout: 30000, enableHighAccuracy: true, maximumAge: 75000});
            }
            else{
                $scope.gettingLocation = false;
            }
        }
        function buildCoords(position){
            return {
                latitude: position.coords.latitude,
                longitude: position.coords.longitude,
                email: $scope.getEmail()
            }
        }
        $scope.getStatus = function(){
            return $cookies.get("status") || "none";
        };
        $scope.setStatus = function(status){
            $scope.status = status;
            $cookies.put("status", status);
        };

        $scope.getEmail = function(){
            return $cookies.get("email");
        };
        $scope.setEmail = function(email){
            $scope.form.email = email;
            $cookies.put("email", email);
        };

        $scope.form = {
            email: $scope.getEmail()
        };

        $scope.resetStatus = function(){
            $scope.setStatus('none');
        }
        $scope.status = $scope.getStatus();
        $scope.waiting = [];
        $scope.loadingNextMovements = false;
        $scope.nextMovements = [];
        $scope.peopleWaiting = [];

        function getPeopleWaiting(coords){
            $http.get(`/api/getNearbyWaiters?lng=${coords.longitude}&lat=${coords.latitude}`)
                .then(function(res){
                    $scope.peopleWaiting = res.data;
                });
        }
        function getNextMovements(coords){
            $scope.loadingNextMovements = true;
            $http.get(`/api/average-duration?lng=${coords.longitude}&lat=${coords.latitude}`)
            .then(function(res){
                $scope.loadingNextMovements = false;
                var nextMovements = [];
                var lastStartTime = new Date(res.data.lastStartTime);
                var duration = res.data.averageDuration;
                for(var i = 1; i<=10; i++){
                    var diff = i * duration;
                    var nextTime = new Date(lastStartTime.getTime() + diff*60000);
                    nextMovements.push(nextTime);
                }
                $scope.nextMovements = nextMovements.filter(function(next){
                    return moment(next) >= moment();
                }).map(function(next){
                    return { time: moment(next).local().format("LT") };
                }).splice(0,3);

            });
        }

        $scope.arrivedAtTraffic = function(){
            $scope.loadingNextMovements = false;
            $scope.nextMovements = [];
            $scope.setStatus("waiting");
            getLocation(function(position){
                var coords = buildCoords(position);
                getNextMovements(coords);
                getPeopleWaiting(coords);
                $http.post('/api/waiting', coords)
                    .then(function(){
                        $scope.waitingLoggedAt = new Date();
                    })
                    .catch(function(err){
                        console.log(err);
                    });
            });
        };
        if($scope.getStatus()=="waiting") $scope.arrivedAtTraffic();

        $scope.trafficMoving = function(){
            $scope.setStatus("moving");
            getLocation(function(position){
                var coords = buildCoords(position);
                $http.post('/api/moving', coords)
                    .then(function(){
                        $scope.movingLoggedAt = new Date();
                    }).catch(function(err){
                        console.log(err);
                    });
                });
        };
        if($scope.getStatus()=="moving") $scope.trafficMoving();

        $scope.start = function(){
            $scope.setStatus("agreed");
        };
        if($scope.getStatus()=="agreed") $scope.start();

        $scope.agreed = function(){
            $scope.setStatus("started");
        };
        if($scope.getStatus()=="started") $scope.start();

        $scope.enableLocation = function(){
            $scope.setStatus("gpsApproved");
            getLocation(function(position){
                $cookies.put("gps", true);
            });
        };
        if($scope.getStatus()=="gpsApproved") $scope.enableLocation();

        $scope.identifyUser = function(){
            $scope.loadingNextMovements = false;
            $scope.nextMovements = [];

            if($scope.form.email)
                $scope.setEmail($scope.form.email);
            getLocation(function(position){
                var coords = buildCoords(position);
                getNextMovements(coords);
                getPeopleWaiting(coords);
            });
            $scope.setStatus("userIdentified");
        };
        if($scope.getStatus()=="userIdentified") $scope.identifyUser();
    });
</script>
</body>
</html>
