<!DOCTYPE html>
<html ng-app="TrafficWiseApp">
<head>
    <meta charset="utf-8">
    <title>Basta Trafico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
</head>
<body>
<div ng-controller="HomeController">
    <div class="container-fluid">
        <img src='/logo' class="img-responsive"/>

        <div class="panel panel-default"><div class="panel-body">
            <div ng-if="status=='none'">
                <h3>Hola!</h3>
                <p>
                    Esta cansado de estar en cola? JUNTOS podemos ser mas listos que el tráfico! Con los datos generados por esta app, podemos saber mas del tráfico. Por ejemplo, sabremos...
                    <ul>
                        <li>Cuando ya se va a mover la cola</li>
                        <li>A que hora es mejor llegar a la cola</li>
                        <li>Otros noticias sobre la cola</li>
                    </ul>
                </p>
                </p>
                <p><button class='btn btn-lg btn-block btn-success' ng-click="start()">Empezar</button></p>
            </div>
            <div ng-if="status=='started'">
                <h3>Habilitar Ubicación</h3>
                <p>Necesitamos su ubicación para poder calcular la espera junto con los datos de los demas conductores. Favor, oprima el botón de abajo para habilitar la ubicación.</p>
                <p><button class='btn btn-lg btn-block btn-success' ng-click="enableLocation()">Habilitar Ubicación</button></p>
            </div>
            <div ng-if="status=='gpsApproved'">
                <h3>Identificarse</h3>
                <div class="alert alert-info">Prometemos no utilizar su correo para algo aparte de esta application. Su privacidad es segura aquí.</div>
                <form ng-submit="identifyUser()">
                    <div class="form-group">
                        <label for="emailInput">Su Correo:</label>
                        <input id="emailInput" class="form-control input-lg" required ng-model="form.email" type="email" placeholder="ex: alguien@yahoo.com" />

                    </div>
                    <p><input class='btn btn-block btn-lg btn-info' type="submit"/ value="Identificarse"></p>
                </form>
                <button class='btn btn-block' ng-click="resetStatus()">Empezar de Cero</button>
            </div>
            <div ng-if="status=='userIdentified'">
                <h3>Diganos Cuando Haya Llegado a la Cola</h3>
                <div class='alert alert-info'>Aqui tenemos planeado una lista de las hora aproximadas que va a pasar la cola por su lado. Favor, sigue usando el app y espera nuevas funcionalidades.</div>
                <button class='btn btn-block btn-lg btn-warning' ng-click="arrivedAtTraffic()">Estoy Parado en la Cola</button>
                <button class='btn btn-block' ng-click="resetStatus()">Empezar de Cero</button>

            </div>
            <div ng-if="status=='waiting'">
                <h3>Diganos Cuando Se Mueva la Cola</h3>
                <div class='alert alert-error' ng-hide="loadingNextMovements && nextMovements.length > 0">
                    No habian suficientes datos para calcular las horas de movimiento.
                </div>
                <div ng-show="nextMovements.length > 0" class='panel'>Creemos que la cola va a moverse en siguientes horas:
                    <ul ng-repeat="next in nextMovements">
                        <li>{{next.time}}</li>
                    </ul>
                    <div ng-show="loadingNextMovements" style="text-align: center">
                        Intentando calcular...<br>
                        <img src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif?zoom=2"/>
                    </div>
                </div>
                <button class='btn btn-block btn-lg btn-success' ng-click="trafficMoving()">La Cola ya Se Esta Moviendo</button>
                <button class='btn btn-block' ng-click="resetStatus()">Empezar de Cero</button>
            </div>
            <div ng-if="status=='moving'">
                <h3>Nos Vemos</h3>
                <div class="alert alert-success">Gracias! Estamos trabajando para mejorar esta app. Por favor, siga usando la app y esperando nuevas funcionalidades.</div>
                <button class='btn btn-block' ng-click="resetStatus()">Empezar de Cero</button>
            </div>
        </div>
        <div class="panel panel-footer">
            <div class="panel-body">
                <h3>Mas Info</h3>
                <p>Esta app esta construida por <strong>residentes de Santa Ana, F.M.</strong> por el simple fin de poder llegar a Tegucigalpa y de regreso con mas facilidad mientras el relajo del tráfico que ocupe nuesta carreterra.</p>
            </div>
        </div></div>
    </div>
</div>

<script>
    var app = angular.module('TrafficWiseApp', ['ngCookies']);
    app.controller('HomeController', function($scope, $http, $cookies) {
        function buildCoords(position){
            return {
                latitude: position.coords.latitude,
                longitude: position.coords.longitude,
                email: $scope.getEmail()
            }
        }
        $scope.waiting = [];
        function getNextMovements(coords){
            $scope.loadingNextMovements = true;
            $http.get(`/api/average-duration?lng=${coords.longitude}&lat=${coords.latitude}`)
            .then(function(res){
                var nextMovements = [];
                var lastStartTime = new Date(res.data.lastStartTime);
                var duration = res.data.averageDuration;
                for(var i = 1; i<=10; i++){
                    var diff = i * duration;
                    var nextTime = new Date(lastStartTime.getTime() + diff*60000);
                    nextMovements.push(nextTime);
                }
                $scope.nextMovements = nextMovements.filter(function(next){
                    return moment(next) >= moment();
                }).map(function(next){
                    return { time: moment(next).local().format("LT") };
                }).splice(0,3);
                $scope.loadingNextMovements = false;
            });
        }
        $scope.nextMovements = [];
        function gpsError(error){
            alert("Error al pedir ubicacion: " + error.message);
            console.log(error);
        }
        var gpsSettings = {timeout:10000};
        $scope.arrivedAtTraffic = function(){
            navigator.geolocation.getCurrentPosition(function(position) {
                $scope.status = "waiting";
                var coords = buildCoords(position);
                $http.post('/api/waiting', coords)
                    .then(function(){
                        getNextMovements(coords);
                        $scope.waitingLoggedAt = new Date();
                    })
                    .catch(function(err){
                        console.log(err);
                    });
            }, gpsError, gpsSettings);
        };
        $scope.trafficMoving = function(){
            navigator.geolocation.getCurrentPosition(function(position){
                $scope.status = "moving";
                var coords = buildCoords(position);
                $http.post('/api/moving', coords)
                    .then(function(){
                        $scope.movingLoggedAt = new Date();
                    }).catch(function(err){
                        console.log(err);
                    });
            }, gpsError, gpsSettings);
        };
        $scope.start = function(){
            $scope.status = "started";
        };
        $scope.enableLocation = function(){
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function(position) {
                        $scope.status = "gpsApproved";
                        $cookies.put("gps", true);
                        console.log(position);
                    },
                    function(error) {
                        console.log(error);
                    },
                    {timeout: 30000, enableHighAccuracy: true, maximumAge: 75000}
            );
            }
        };
        $scope.identifyUser = function(){
            $scope.setEmail($scope.form.email);
            $scope.setStatus("userIdentified");
        };

        $scope.getStatus = function(){
            return $cookies.get("status");
        };
        $scope.setStatus = function(status){
            $scope.status = status;
            $cookies.put("status", status);
        };

        $scope.getEmail = function(){
            return $cookies.get("email");
        };
        $scope.setEmail = function(email){
            $scope.form.email = email;
            $cookies.put("email", email);
        };

        $scope.form = {
            email: $scope.getEmail()
        };

        $scope.resetStatus = function(){
            $scope.setStatus('none');
            if($cookies.get("gps")) {
                $scope.status = "gpsApproved";
            }
        }
        $scope.resetStatus();
    });
</script>
</body>
</html>
